
.rating label {
    color: #ccc;
}

.rating {
    gap: 4px;
    display: flex;
    justify-content: start;
}

.rating label {
    cursor: pointer;
    transition: color 0.2s ease;
}

.rating label {
    font-size: 36px;
}

input[type="radio"] {
    display: none;
}

.rating label.active {
    color: orange !important;
}
